/* .Chat-link {
  color: #61dafb;
} */

.Chat {
  display: flex;
  flex-grow: 1;
}

.MessageBox {
  order: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 88vw;
}

.Messages-wrapper {
  flex-grow: 1;
  order: 1;
  overflow: hidden scroll;
  /* vertical-align: bottom; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-anchor: none;
}

.Messages {
  min-height: 0;
  overflow-anchor: none;
}

.Messages-inner {
  min-height: 0;
}


.Message {
  vertical-align: bottom;
  padding: 10px;
}

.Message-author {
  font-weight: bold;
}

.Message-content {
  word-wrap: break-word;
  white-space: pre-line;
}

.Message:hover {
  /* background-color: rgb(47, 52, 63); */
}

.MessageForm {
  order: 2;
  flex-shrink: 0;
  max-height: 50vh;
  /* min-height: 5em; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.MessageForm-messagewrap {
  order: 1;
  display: flex;
}

.MessageForm-message {
  /* background-color: #4d5361; */
  /* background-color: var(--input-bg); */
  margin: 10px;
  margin-bottom: 10px;
  /* caret-color: white; */
  /* width: 100%; */
  border-radius: 8px;
}

.MessageForm-form {
  position: relative;
  width: 100%;
  display: flex;
}

.MessageForm-input {
  flex-grow: 1;
  /* color: white; */
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  resize: none;
  max-height: 50vh;
  padding: 10px;
  outline: none;
}

[placeholder]:empty::before {
  content: attr(placeholder);
  color: rgb(136, 136, 136);
  opacity: 1; /* Firefox */
}

.MessageForm-text {
  order: 0;
  position: relative;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 0.9em;
  /* color: var(--secondary-text); */
  height: 2em;
}

.MessageForm-text > p {
  font-size: 0.9em;
}

.Members {
  /* background-color: #3b404d; */
  /* background-color: var(--secondary-bg); */
  order: 1;
  /* align-self: flex-end;
  height: 100%; */
}