<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#182533" />
        <meta
        name="description"
        content="Zupplin Instant Messenger"
        />
        <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
        <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />

        <title>{{ escape(handler.settings["app_title"]) }}</title>
        <link rel="stylesheet" href="{{ static_url("style.css") }}" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        {% block head %}{% end %}
    </head>
    <body>
    <header>
        <nav>
            <a class="navbar navbar-brand" href="/">{{ escape(handler.settings["app_title"]) }}</a>
            <div class="navbar-links">
                <a class="navbar navbar-link" href="{{ handler.application.client_url }}">Open {{ escape(handler.settings["app_title"]) }}</a>
                <a class="navbar navbar-link" href="/about">About</a>
                <a class="navbar navbar-link" href="https://github.com/Fyssion/zupplin">Source</a>
            </div>
        </nav>
    </header>
    {% block body %}{% end %}
    {% block bottom %}{% end %}
    </body>
    <script src="{{ static_url("script.js") }}"></script>
    {% block script %}{% end %}
</html>
